<Configuration>
  <PrivatePaths>
    <PrivatePath Ruta="bin_ws\" />
  </PrivatePaths>
  <WebServices>
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.localhost4.wsServidorImpresion" Tipo="URL" Valor="http://LOCALHOST/sondanet2003/wsServidorImpresion/wsServidorImpresion.asmx" />
    <WebService NombreClase="Sonda.Net.Page.DefaultPage+wsAccesos+wsUsuMantencionFuncionalidades" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsusumantencionfuncionalidades" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.localhost1.wsUsuMantencionUsuarios" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsusumantencionusuarios" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.localhost.wsUsuMantencionMenus" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsusumantencionmenus" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.localhost2.wsParParametro" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsparparametro" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.wsUsuMantencionUsuarios.wsUsuMantencionUsuarios" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionUsuarios" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.wsParParametro.wsParParametro" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsparparametro" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.wsUsuMantencionProcesosNegocio.wsUsuMantencionProcesosNegocio" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionProcesosNegocio" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.wsUsuMantencionFuncionalidades.wsUsuMantencionFuncionalidades" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionfuncionalidades" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.wsUsuMantencionRoles.wsUsuMantencionRoles" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionRoles" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.wsUsuMantencionMenus.wsUsuMantencionMenus" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionMenus" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.wsFecha.wsFecha" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsfecha" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.wsUsuMantencionRecurso.wsUsuMantencionRecurso" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionRecurso" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.wsUsuMantencionPerfiles.wsUsuMantencionPerfiles" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionPerfiles" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.Parametros.wsusumantencionprocesosnegocio.wsUsuMantencionProcesosNegocio" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionProcesosNegocio" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.Parametros.wsparparametro.wsParParametro" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.WS.Soporte.wsParParametro" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.Procesos.WebReferences.wsUsuMantencionProcesosNegocio" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionProcesosNegocio" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.Procesos.WebReferences.wsPROMetaProcesos" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.WS.Soporte.wsPROMetaProcesos" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.Procesos.WebReferences.wsParParametro" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.WS.Soporte.wsParParametro" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.Procesos.WebReferences.wsFecha" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.WS.Soporte.wsFecha" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.Procesos.WebReferences.wsUsuMantencionUsuarios" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionUsuarios" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.Procesos.WebReferences.wsPROProcesos" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.WS.Soporte.wsPROProcesos" />
    <WebService NombreClase="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.wsUsuMantencionPerfiles.wsUsuMantencionPerfiles" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionPerfiles" />
	<WebService NombreClase="Sonda.Gestion.Wfl.WEB.wsUsuRoles.wsUsuMantencionRoles" Tipo="DLL" Valor="wsSoporte;Sonda.Gestion.Adm.Ws.Soporte.wsUsuMantencionRoles" />
    <WebService NombreClase="Sonda.Gestion.Wfl.WEB.wsProyecto.wsProyecto" Tipo="DLL" Valor="wsWorkflow;Sonda.Gestion.Wfl.WS.wsProyecto" />
    <WebService NombreClase="Sonda.Gestion.Wfl.WEB.wsWFFEcha.wsWFFecha" Tipo="DLL" Valor="wsWorkflow;Sonda.Gestion.Wfl.WS.wsWFFecha" />
    <WebService NombreClase="Sonda.Gestion.Wfl.WEB.wsCopia.wsCopia" Tipo="DLL" Valor="wsWorkflow;Sonda.Gestion.Wfl.WS.wsCopia" />
    <WebService NombreClase="Sonda.Gestion.Wfl.WEB.wsExpediente.wsExped" Tipo="DLL" Valor="wsWorkflow;Sonda.Gestion.Wfl.WS.wsexped" />
    <WebService NombreClase="Sonda.Gestion.Wfl.WEB.wsTarea.wsTarea" Tipo="DLL" Valor="wsWorkflow;Sonda.Gestion.Wfl.WS.wsTarea" />
    <WebService NombreClase="Sonda.Gestion.Wfl.WEB.wsDiagrama.wsDiagrama" Tipo="DLL" Valor="wsWorkflow;Sonda.Gestion.Wfl.WS.wsDiagrama" />
    <WebService NombreClase="Sonda.Gestion.Wfl.WEB.wsFlecha.wsFlecha" Tipo="DLL" Valor="wsWorkflow;Sonda.Gestion.Wfl.WS.wsFlecha" />
    <WebService NombreClase="Sonda.Gestion.Wfl.WEB.wsTipoexp.wsTipoexp" Tipo="DLL" Valor="wsWorkflow;Sonda.Gestion.Wfl.WS.wsTipoexp" />
    <WebService NombreClase="Sonda.Gestion.Wfl.WEB.wsWFRoles.wsWFRoles" Tipo="DLL" Valor="wsWorkflow;Sonda.Gestion.Wfl.WS.wsWFRoles" />
  </WebServices>
</Configuration>
